.headerClass{
  background-color: brown;
  font-style: oblique


}
.info{
  background-color: purple;
  font-weight: bolder;
  font-style: italic;
  color: orange;
}

.h3{
  background color: black
  color: yellow
}

img{
  padding: 2px;
  border-style: double;
  border-spacing: 30px;
  border: 10px solid #874
}

.center{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 55%;
 height: 30%;
}
